    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        {{! Navbar Content }}
        <ul class="navbar-nav">
          <li class= "nav-item px-2">
            <a class="nav-link navbar-brand text-white" href="/home">Home</a>
          </li>
          <li class= "nav-item px-2">
            <a class="nav-link navbar-brand text-white" href="/dashboard">Dashboard</a>
          </li>
        </ul>
        <ul class="navbar-nav">
           <li class= "nav-item px-2">
             {{#if loggedIn }}
              <a class="nav-link navbar-brand text-white login-logout" id="logout" href="/logout">Logout</a>
              {{else}}
              <a class="nav-link navbar-brand text-white login-logout" href="/login">Login</a>
             {{/if}}
          </li>
        </ul>
      </div>
    </nav>