
<div class="container">
  <div class="row">
    <div class="col">
            <div class="card" style="margin-top: 20px;">
                <div class="card-header d-flex justify-content-between">
                    <h5>{{post.title}}</h5>
                    <h6 style="font-size: smaller;">Posted by {{post.user.name}} on {{post.created}}</h6>
                </div>
                <div class="card-body">
                    <div class="mb-md-5 mt-md-4 pb-5">

                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">Please enter your username and password!</p>

                        <div class="form-outline form-white mb-4">
                            <input type="text" id="username" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX">Username</label>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Password</label>
                        </div>

                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                    </div>
                </div>
            </div>
    </div>
  </div>
</div>