
<div class="container">
  <div class="row">
    <div class="col">
            <div class="text-center" style="margin-top: 20px;">
              <button type="button" id="newPost" class="btn btn-primary" style="width: 20%;">+ New Post</button>
            </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        {{#each userPosts}}

            <div class="card" id="{{id}}" style="margin-top: 20px;">
                <div class="card-header d-flex justify-content-between">
                    <h5>{{title}}</h5>
                    <h6 style="font-size: smaller;">{{created}}</h6>
                </div>
            </div>

        {{/each}}
    </div>
  </div>
</div>

<script src="/js/logout.js"></script>
<script src="/js/dashboard.js"></script>